<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-lg-4 col-md-8 col-12 border rounded p-4 shadow-sm">
    <form (ngSubmit)="register()" [formGroup]="registerForm">

      <div class="mb-3">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>

      <div class="mb-3">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>

      <div class="mb-3">
        <label class="form-label">Picture</label>
        <input type="text" class="form-control" formControlName="picture" />
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="email" class="form-control" formControlName="username" />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" />
      </div>

      <div class="text-danger mb-3" *ngIf="registerError">
        {{ registerError }}
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary w-100">
          Sign up
        </button>
      </div>

    </form>
  </div>
</div>
